<div class="row border-shadow ms-0">
    <div class="col-12 text-start">
        <p class="fs-2 text-info">Contact us</p>
        <p class="fs-6 text-info">Please don’t contact us with a query about a transaction made within the last 6 hours
        </p>
    </div>
    <div class="row border shadow justify-content-center mb-4">
        <div class="col-12 col-md-6 col-lg-3 mb-2">
            <div class="bg-info rounded p-5">images, text 1</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-2">
            <div class="bg-info rounded p-5">images,text 2</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-2">
            <div class="bg-info rounded p-5">images,text 3</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="bg-info rounded p-5">images,text 4</div>
        </div>
    </div>


    <div class="row border-shadow justify-content-center">
        <div class="col-12 col-md-6 col-lg-3 mb-2">
            <div class="bg-info rounded p-5">images, text 1</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-2">
            <div class="bg-info rounded p-5">images,text 2</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="bg-info rounded p-5">images,text 3</div>
        </div>

        <p class="fs-6 text-start mt-4 text-center">Send us a message</p>
        <div class="col-12 col-md-12 col-lg-12 mb-4">
            <div class="bg-secondary rounded p-5 text-center">Question asked</div>
        </div>
    </div>

    <div class="row border shadow bg-warning">
        <p class="fs-6 text-start mt-4">Frequently Asked questions</p>
        <div class="col-12 col-md-12 col-lg-12 mb-4">
            <div class="bg-info rounded p-5">Question asked</div>
        </div>

            <div class="col-12 col-md-6 col-lg-6 mb-2">
                <div class="bg-success rounded p-5">Need help? just reach out</div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="bg-danger rounded p-5">Card,text 2</div>
            </div>
    </div>
</div>