
<div class="row ms-2">
    <div class="row border shadow">
        <div class="col-12 col-md-6 col-lg-4 mb-2">
            <div class="bg-primary rounded p-5">Card 1️⃣</div>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <div class="bg-primary rounded p-5">Card 2</div>
        </div>
    </div>

    <div class="row border shadow bg-secondary">
        <p class="h6 text-center mt-4">A solid platform</p>
        <div class="col-12">
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
            <div class="bg-success rounded p-5">Card, text 1</div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-2">
            <div class="bg-success rounded p-5">Card,text 2</div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="bg-success rounded p-5">Card,text 3</div>
        </div>
    </div>

    <div class="row border shadow">
        <p class="h6 text-center mt-4">How it works</p>
        <div class="col-12">
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-2">
            <div class="bg-info rounded p-5">Card, text 1</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-2">
            <div class="bg-info rounded p-5">Card,text 2</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-2">
            <div class="bg-info rounded p-5">Card,text 3</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="bg-info rounded p-5">Card,text 4</div>
        </div>
    </div>
    <div class="row border shadow">
        
        <div class="col-12 col-md-12 col-lg-4 ">
            <p class="fs-5 text-center mt-2">We are Safe!</p>
        </div>
        <div class="col-12 col-md-6 col-lg-2 mt-2">
            <div class="bg-info rounded p-5">Card,text 1</div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 mt-2">
            <div class="bg-info rounded p-5">Card,text 2</div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 mt-2">
            <div class="bg-info rounded p-5">Card,text 3</div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 mt-2">
            <div class="bg-info rounded p-5">Card,text 3</div>
        </div>
    </div>

    <!--Our customers don't lie-->
    <div class="row border shadow">
        <p class="fs-6 text-center mt-4">Our customers don't lie</p>
        <div class="col-12">
        </div>
        <div class="col-12 col-md-6 col-lg-6 justify-content-center mb-4">
            <div class="bg-info rounded p-5">Customer review 1</div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="bg-info rounded p-5">Customer review 2</div>
        </div>
    </div>

    <!--F.A.Q SECTION-->
    <div class="row border shadow">
        <p class="fs-6 text-start mt-4">Frequently Asked questions</p>
        <div class="col-12 col-md-12 col-lg-12 mb-4">
            <div class="bg-info rounded p-5">Question asked</div>
        </div>

            <div class="col-12 col-md-6 col-lg-6 mb-2">
                <div class="bg-success rounded p-5">Need help? just reach out</div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="bg-danger rounded p-5">Card,text 2</div>
            </div>
    </div>

</div>