
<div class="row">

    <div class="row border shadow">
        <div class="col-12 col-md-12 col-lg-4">
            <p class="fs-2 text-primary text-center">About us</p>
            <p class="fs-6 text-primary">We design investment products with risk mitigation and return maximization in
                mind.
                You just invest and earn we have you covered.
            </p>
        </div>
    </div>

    <div class="row border shadow">
        <div class="col-12 col-md-6 col-lg-12">
            <div class="bg-primary rounded p-5">video</div>
        </div>
        <div class="col-12 col-md-6 mx-auto">
            <button class="btn btn-danger mt-4" type="button">Button</button>
            <button class="btn btn-success ms-2 mt-4" type="button">Button</button>
        </div>
    </div>

    <div class="row border shadow bg-secondary">
        <div class="col-12 col-md-6 col-lg-8">
            <div class="text-warning">Investment</div>
            <p class="fs-6 text-warning"><br>We design investment products with risk mitigation and return maximization
                in
                mind.
                You just invest and earn we have you covered.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-2">
            <div class="bg-primary rounded p-5">image 2</div>
        </div>
    </div>
    <div class="row border shadow">
        <div class="col-12 col-md-6 col-lg-4 order-2 order-lg-1">
            <div class="bg-primary rounded p-5">image 2</div>
        </div>
        <div class="col-12 col-md-6 col-lg-8 order-1 order-lg-2 order-md-2">
            <div class="text-warning">Investment</div>

        </div>
    </div>
    <div class="row border shadow bg- mb-2">
        <div class="col-12 col-md-6 col-lg-8">
            <div class="text-warning">Investment</div>
            <p class="fs-6 text-warning"><br>We design investment products with risk mitigation and return maximization
                in
                mind.
                You just invest and earn we have you covered.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-2">
            <div class="bg-primary rounded p-5">image 2</div>
        </div>
    </div>

    <!--ORganisation and Individual-->

    <div class="row border shadow">
        <div class="col-12 col-md-12 col-lg-6 mb-4">
            <div class="bg-info rounded p-5">Organisation</div>
            <button class="btn btn-danger mt-4" type="button">Register</button>

        </div>
        <div class="col-12 col-md-12 col-lg-6 mb-4 ">
            <div class="bg-info rounded p-5">Individuals</div>
            <div class="d-flex justify-content-between">
            <button class="btn btn-warning mt-4" type="button">App Store</button>
            <button class="btn btn-success mt-4" type="button">Google Play</button>
        </div>
        </div>

            <div class="col-12 col-md-6 col-lg-6 mb-2">
                <div class="bg-success rounded p-5">Need help? just reach out</div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="bg-danger rounded p-5">Card,text 2</div>
            </div>
    </div>
</div>